<!-- templates/clients/client_list.html -->
{% extends "base.html" %}
{% block content %}
<h2>Clientes</h2>
<a href="{% url 'clients:client_add' %}">Agregar Cliente</a>
<a href="{% url 'clients:report_list' %}">Ver Reportes</a> <!-- CORREGIDO -->

<form method="get">
    <input type="text" name="q" placeholder="Buscar cliente..." value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
</form>

<ul>
    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a
            href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Anterior</a>
        {% endif %}
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
        <a
            href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Siguiente</a>
        {% endif %}
    </div>
    {% endif %}

    {% for client in clients %}
    <li>
        <a href="{% url 'clients:client_detail' client.pk %}">{{ client.name }}</a>
    </li>
    {% endfor %}

</ul>
{% endblock %}